
nav {
    background: rgba(17, 17, 17, 0.53);
    backdrop-filter: blur(27.5px);
  }
  
  ul li a {
    color: #E2E1E5;
    font-size: 14.318px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.128px;
  }
  
  ul li {
    display: flex;
    padding: var(--4, 4px) var(--16, 16px);
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .btn-navbar {
    display: flex;
    width: 135.45px;
    height: 39.09px;
    padding: 9.705px 14.68px 11.535px 14.87px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 51px;
    background: #191919;
  }
  .submenu {
    position: absolute;
    top: 110%; /* Position below the parent menu */
    left: 0; /* Align to the left edge of the parent */
    width: 100vw; /* Take the full width of the viewport */
    display: flex; /* Flexbox for child items */
    background-color: white; /* Optional: for background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: to add a shadow */
    z-index: 10; /* Ensures the submenu appears above other content */
  }
  .menu{
    padding: 5px 20px;
  }
  .menu:hover .submenu{
    display: flex;
  }
  .menu:hover{
    border-radius: 15px !important;
    border: 2px solid #00C887 ;
    /* border-image: linear-gradient(to right, #00C887, #2384FD) 1; */
  }
  .menu:hover .nav-icon {
    transform: rotateX(180deg);
    transform-origin: center;  /* Ensure it rotates around its center */
    transition: transform 0.5s ease;
}
.blur-bg{
  display: block;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  /* backdrop-filter: blur(5px); */
}
.submenu-navbar {
  display: flex;
  position: absolute;
  top: 35px; /* Position below the parent menu */
  left: 50%; /* Position from the center of the parent */
  width: 95%; /* Take the full width of the viewport */
  transform: translateX(-50%); /* Adjust position to truly center it */
  z-index: 100000; /* Ensures the submenu appears above other content */
}
.menu:hover .blur-bg {
  /* display: block; */
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
.blur-bg:hover .submenu-navbar {
  display: flex;
}