.register-btn{
    border-radius: var(--8, 8px);
    background: #009661;
    display: flex;
    
    padding:  28px;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
    justify-content: start;
    transition: all 0.3s ease;
}
.register-btn:hover{
    background:  #009661;
    width: max-content;
    gap: 50px;
}
@media screen and (max-width: 500px) {
    .register-btn{
        color: var(--General-White, #FFF);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
        text-transform: uppercase;
        width: 200px;
    }
}

