@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* styles.css */

.container {
  width: 100%;
  /* Full width by default */
  max-width: 1140px;
  /* Max width for larger screens */
  padding-left: 15px;
  /* Horizontal padding */
  padding-right: 15px;
  /* Horizontal padding */
  margin-left: auto;
  /* Centering */
  margin-right: auto;
  /* Centering */
}

/* Responsive breakpoints */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    /* Small devices */
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    /* Medium devices */
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    /* Large devices */
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    /* Extra large devices */
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    /* Extra extra large devices */
  }
}


@media (max-width: 500px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #0B0A0E;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.green-text {
  color: #00C881;
  font-size: var(--font-size-20, 20px);
  font-style: normal;
  font-weight: var(--font-weight-500, 500);
  line-height: var(--line-height-30, 30px);
  /* 150% */
}

html {
  scroll-behavior: smooth;
}

.traing-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.gradiant-black {
  background: linear-gradient(93deg, rgba(0, 0, 0, 1) 22%, rgba(0, 0, 0, 0.1517857142857143) 74%);
}

.combridge {
  color: var(--white-100, #FFF);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
  opacity: 0.6;
}

.dashboard-container {
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  padding: 31px var(--8, 8px);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.acceleration-section {
  color: var(--secondary-text, #858586);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
}

.training-h1 {
  color: var(--white-100, #FFF);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 50%;
  margin: auto;
  /* 60px */
}

.subtitle {
  color: var(--secondary-text, #858586);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 36px */
}

.courses-section .innovation-icons {
  position: relative;
  top: -40px;
  left: 0px;
  margin-bottom: 20px;
  margin: auto;
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.yellow-subtitle {
  color: #00C881;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.18px;
}






















.welcome-h1 {
  color: var(--white-100, #FFF);
  font-size: 61.059px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.welcome-subtitle {
  color: var(--white-100, #FFF);
  font-size: 17px;
  font-weight: 300;
  line-height: 23.8px;
  /* 145.691% */
  letter-spacing: 0.4px;

}

.trust-h {
  font-size: 26px;
}

.innovation {
  background: var(--brand-gradient, linear-gradient(260deg, #00C887 42.34%, #2384FD 120.12%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 61.183px;
  line-height: 76.5px;
  letter-spacing: 0.4px;
}

.innovation-section .welcome-h1 {
  position: sticky;
  top: 80px;
}

.innovation-section {
  background: linear-gradient(180deg, rgba(123, 63, 228, 0) 38%, rgba(27, 0, 73, 0.664) 74%);

}

.services-subtitle {
  color: #67666E;
  font-size: 17.5px;
  line-height: 23.8px;
  /* 145.691% */
  letter-spacing: 0.4px;
  display: flex;
  width: 507.11px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.services .card {
  position: relative;
  width: 100% !important;
  height: 468px;
  top: 0 !important;
}

.services .card .card-title {
  width: max-content;
  font-size: 33px;
}

.services .card .card-subtitle {
  display: flex;
  width: 294.45px;
  height: 142.8px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 16.5px;
}

.services .article-title {
  padding: 40px 0px;
}

.subscribe-section {
  height: 233px;
  border-radius: 10px;
  background: var(--white-100, #FFF);
  padding: 50px 100px;
  margin: 200px auto;
}

.subscribe-h1 {
  color: #0B132A;
  font-size: 35px;
  line-height: 45px;
}

.expertise-register-h1 {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.subscribe-h5 {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

.subscribe-btn {
  border-radius: 51px;
  background: var(--brand-gradient, linear-gradient(260deg, #00C887 42.34%, #2384FD 120.12%));
  width: 240px;
  height: 46px;
  flex-shrink: 0;

}

.expertise-register {
  height: 318px;
  border-radius: 10px;
  background: #481fa1;
  padding: 50px 95px;
  margin: 200px auto;
}

.Expertise-register-desc {
  color: rgba(255, 255, 255, 0.76);

  font-size: 12.906px;

  line-height: 21px;
  /* 162.712% */
  width: 60%;
}

.expertise-register-img {
  position: absolute;
  bottom: 0;
  height: 550px;
  opacity: 0.8;
  filter: drop-shadow(-7px 1px 31px #000000);
}

.faq-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-prev-next-btn {
  position: absolute;
  top: -50px;
  right: 50px;
}

.custom-prev-next-btn button {
  width: 40px;
  height: 40px;
  background: #141217;
  color: white;
}

.news-item {
  color: white;
  display: flex;
  padding: 80px 40px;
}

.blog-item {
  color: white;
  display: flex;
  padding: 50px 40px;
}

.news-item .news-section {
  width: 50%;
}

.blog-item .blog_section:first-child {
  width: 25%;
}

.news_parent {
  border-left: solid rgba(34, 34, 34, 1) 1px;
  height: max-content;
}

.feature {
  display: flex;
  width: 100px !important;
  height: 26.19px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #282B2B;
  margin-bottom: 10px;
}

.news-title {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.news-date {
  color: rgba(255, 255, 255, 0.50);
  font-size: 13.945px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 150.588% */
  letter-spacing: -0.15px;
}

.news-img-container {
  border-radius: 13px;
  border: 1px solid #222;
  padding: 7px;
  width: 90%;
  height: 300px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.blog-img-container {
  border-radius: 13px;
  border: 1px dotted #222;
  padding: 15px;
  width: 90%;
  height: max-content;
  flex-shrink: 0;
  margin-bottom: 20px;
  text-align: start;
}

.news-img-container img {
  width: 100%;
  height: 100%;
}

.blog-img-container img {
  width: 100%;
  height: 325px;
}

.news-desc {
  color: rgba(255, 255, 255, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
  /* 170% */
  letter-spacing: -0.16px;
  width: 90%;
  text-align: justify;
}

.pagination_content li {
  border-radius: 25.5px;
  background: rgba(255, 255, 255, 0.10);
  width: 50px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.blog-headline {
  color: #ABABAB;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.blog-title {
  color: #F5F5F8;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.blog-desc{
  color: #ABABAB;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 161.345% */
  letter-spacing: -0.32px;
}
hr{
  border-color: rgba(255, 255, 255, 0.10);
}
.close-modal{
  flex-shrink: 0;
  border-radius: 25.5px;
  background: #00C889;
  color: white;
  padding: 10px 25px;
}
.modal-blog-title{
  color: #F5F5F8;
font-size: 20.281px;
font-style: normal;
font-weight: 500;
line-height: 26.4px; /* 130.169% */
letter-spacing: -0.44px;
margin-left: 20px;
}
.bg-blur{
  background: rgba(0, 0, 0, 0.88);
backdrop-filter: blur(6.800000190734863px);
z-index: 10;
}
.modal-blog-content{
  color: #ABABAB;
  text-align: justify;
  font-size: 14.875px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 161.345% */
  letter-spacing: -0.32px;
  height: 500px;
  margin: auto;
  padding: 10px 20px;
  overflow: scroll;
}
@media screen and (max-width:500px) {
  .welcome-h1{
    font-size: 2rem;
  }
}