.oil-section{

    background-image: url(img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.welcome-h1 {
    color: var(--white-100, #FFF);
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 0.4px;
}
.gradiant-black{
background: linear-gradient(93deg, rgba(0,0,0,1) 22%, rgba(0,0,0,0.1517857142857143) 74%);
}
.combridge{
    color: var(--white-100, #FFF);
font-size: 24px;
font-weight: 400;
line-height: 150%; /* 36px */
opacity: 0.6;
}
.dashboard-container{
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    padding: 31px var(--8, 8px);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.acceleration-section{
    color: var(--secondary-text, #858586);
text-align: center;
font-size: 24px;
font-weight: 400;
line-height: 150%; /* 36px */
}
.training-h1{
    color: var(--white-100, #FFF);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
}
.subtitle{
    color: var(--secondary-text, #858586);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
}
   
.courses-section .innovation-icons {
    position: relative;
    top: -40px;
    left: 0px;
    margin-bottom: 20px;
    margin: auto;
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.yellow-subtitle{
    color: #DF0;
font-size: 18px;
font-weight: 400;
line-height: 25.2px; 
letter-spacing: -0.18px;
}

.courses-section article:hover{
    border-radius: var(--12, 12px);
    border: 1px solid var(--brand-gradient, #00C887);
    background: linear-gradient(180deg, rgba(10, 10, 13, 0.00) 48%, rgba(10, 10, 13, 0.01) 56%, rgba(10, 10, 13, 0.88) 100%), linear-gradient(180deg, #16141A 0%, #0F0D13 80%);
    box-shadow: 0px 4px 86px 0px #000;
}

.plans{
    background-image: url(plan-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 738px;
    border-radius: 14px;
    overflow: hidden;
    padding: 40px;
}
.card-cours-price{
    background-color: white;
    border-radius: 8px;
    width: 50%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-cours-price button{
    border-radius: 8px;
background: #0AC382;
color: #FFF;
width: 100%;
font-size: var(--font-size-20, 20px);
font-style: normal;
font-weight: var(--font-weight-500, 500);
line-height: var(--font-size-20, 20px); /* 100% */
display: inline-flex;
padding: 21px;
justify-content: space-between;
align-items: flex-start;
gap: 335.928px;
}
.card-cours-price ul li span{
    color: #000;
    font-size: 23.25px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-33_6, 33.6px); /* 144.516% */
}
.card-cours-price-title{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-43_2, 43.2px); /* 135% */
}
.card-cours-price-subtitle{
    color: #777F86;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
}
.card-cours-price{
    color: var(--black-100, #1C1C1C);
font-feature-settings: 'ss01' on, 'cv01' on;

font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 58px; /* 120.833% */

}
.get-in-touch{
    color: #FFF;

font-size: 46.313px;
font-style: normal;
font-weight: var(--font-weight-500, 500);
line-height: var(--line-height-57_6, 57.6px); /* 124.372% */
letter-spacing: var(--letter-spacing--1_2, -1.2px);
}

.note{
    color: #000;
font-size: 31.125px;
font-style: normal;
font-weight: var(--font-weight-500, 500);
line-height: var(--line-height-43_2, 43.2px); /* 138.795% */
}
.card-cours-price.oil{
    width: 406px;
    height: 509px;
    flex-shrink: 0;
    margin: 80px;
}
.oil_gaz_box_paragraph{
    border-radius: 12px;
border: 1px solid #3B3B3B;
background: var(--style-brainex, linear-gradient(180deg, rgba(10, 10, 13, 0.00) 48%, rgba(10, 10, 13, 0.01) 56%, rgba(10, 10, 13, 0.88) 100%), linear-gradient(180deg, #16141A 0%, #0F0D13 80%));

display: flex;
height: 197px;
padding: 58px 52px 80px 75px;
justify-content: flex-end;
align-items: center;}
.transform-container{
    border-radius: 12px;
    border: 1px solid #141217;
    background: rgba(20, 18, 23, 0.76);
    height: 368px;
    padding: 40px;
}
.promise-section{
    width: 80%;
    margin: auto;
    height: 100vh;
    
}
.ourPromise{
    /* background: linear-gradient(100deg, #00C881 24.77%, #3878FF 104.89%); */
    color: #00C881;
    background-clip: text;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-30, 30px); /* 46.875% */
}
.promise-dec{
    color: #CCC;
text-align: center;

font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: 41.8px; /* 110% */
letter-spacing: -1.14px;
width: 60%;
margin: auto;
}
.card-cours-price-subtitle.oil{
    color: #9BAAB5;
font-size: 23.25px;
font-style: normal;
font-weight: var(--font-weight-500, 500);
line-height: var(--line-height-33_6, 33.6px); /* 144.516% */
}
.email{
    border-radius: 8px;
    border: var(--stroke-weight-1, 1px) solid #CDD7DF;
    background: #FFF;
    display: inline-flex;
    height: 66px;
    padding: 21px 13px 22px 25px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    color: var(--color-grey-37, #555E67);
    font-size: 19.375px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: normal;

}

.email:focus{
    outline: #00C881 2px solid;
}












.oil_gaz_front {
    display: flex;
    width: 576px;
    padding: 2px 0px 3.59px 0px;
    flex-direction: column;
    align-items: flex-start;
    color: #FFF;    
    font-size: 51px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-61_6, 61.6px); /* 113.32% */
}
.oil_gaz_paragraph{
    color: #CDD7DF;
    font-size: 23.063px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-33_6, 33.6px); /* 145.691% */
}

.welcome-subtitle {
    color: var(--white-100, #FFF);
    font-size: 17px;
    font-weight: 300;
    line-height: 23.8px;
    /* 145.691% */
    letter-spacing: 0.4px;

}

.trust-h {
    font-size: 26px;
}

.innovation {
    background: var(--brand-gradient, linear-gradient(260deg, #00C887 42.34%, #2384FD 120.12%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 61.183px;
    line-height: 76.5px;
    letter-spacing: 0.4px;
}

.innovation-section .welcome-h1 {
    position: sticky;
    top: 80px;
}
.innovation-section{
    background: linear-gradient(180deg, rgba(123,63,228,0) 38%, rgba(27, 0, 73, 0.664) 74%);

}
.services-subtitle {
    color: #67666E;
    font-size: 17.5px;
    line-height: 23.8px;
    /* 145.691% */
    letter-spacing: 0.4px;
    display: flex;
    width: 507.11px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.services .card {
    position: relative;
    width: 100% !important;
    height: 468px;
    top: 0 !important;
}

.services .card .card-title {
    width: max-content;
    font-size: 33px;
}

.services .card .card-subtitle {
    display: flex;
    width: 294.45px;
    height: 142.8px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 16.5px;
}

.services .article-title {
    padding: 40px 0px;
}

.subscribe-section {
    height: 233px;
    border-radius: 10px;
    background: var(--white-100, #FFF);
    padding: 50px 100px;
    margin: 200px auto;
}
.subscribe-h1{
    color: #0B132A;
font-size: 35px;
line-height: 45px; 
}
.expertise-register-h1{
    color: white;
    font-weight: 600;
    font-size: 30px;
}
.subscribe-h5{
    color: #4F5665;
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
}
.subscribe-btn{
    border-radius: 51px;
background: var(--brand-gradient, linear-gradient(260deg, #00C887 42.34%, #2384FD 120.12%));
width: 240px;
height: 46px;
flex-shrink: 0;

}

.expertise-register{
    height: 318px;
    border-radius: 10px;
    background: #481fa1;
    padding: 50px 95px;
    margin: 200px auto;
}
.Expertise-register-desc{
    color: rgba(255, 255, 255, 0.76);

font-size: 12.906px;

line-height: 21px; /* 162.712% */
width: 60%;
}
.expertise-register-img{
    position: absolute;
    bottom: 0;
    height: 550px;
    opacity: 0.8;
    filter: drop-shadow(-7px 1px 31px #000000);
}
.faq-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom-prev-next-btn{
    position: absolute;
    top: -50px;
    right: 50px;
}
.custom-prev-next-btn button{
    width: 40px;
    height: 40px;
    background: #141217;
    color: white;
}