.plan-card{
    display: flex;
    padding: var(--40, 40px);
    flex-direction: column;
    border-radius: 24px;
    background: #0B0A0E;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}
.plan-card-light{
    display: flex;
    padding: var(--40, 40px);
    flex-direction: column;
    border-radius: 24px;
    background: #101010;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

.plan-card-btn{
    display: flex;
    padding: var(--16, 16px) var(--24, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--8, 8px);
    border-radius: var(--16, 16px);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 0px;
}
.plan-card-btn-light{
    display: flex;
    padding: var(--16, 16px) var(--24, 24px);
    justify-content: center;
    align-items: center;
    border-radius: var(--16, 16px);
    background: #00C881;
    color: black;
    margin: 20px 0px;
}
.plan-card-time{
    color: var(--black-100, #fff);
    font-feature-settings: 'ss01' on, 'cv01' on;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px; /* 120.833% */
    margin: 20px 0px;
    text-align: center;
}
.plan-card-name{
    color: #ADADAD;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.6px; /* 120% */
    text-align: center;
}
.per_month{
    color: #ADADAD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.plan-card-offer{
    color: var(--black-100, #fff);
    font-feature-settings: 'ss01' on, 'cv01' on;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}
.plan-card-offer-light{
    color: #1C1C1C;
    font-feature-settings: 'ss01' on, 'cv01' on;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}